In [1]:
import vtk
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from vtk.util import numpy_support

In [2]:
def vti_reader(file_path):
    reader = vtk.vtkXMLImageDataReader()
    reader.SetFileName(file_path)
    reader.Update()
    data = reader.GetOutput()
    
    # vtk res
    dataset = pd.DataFrame(np.array(
    [numpy_support.vtk_to_numpy(data.GetPointData().GetArray(i))
    for i in range(data.GetPointData().GetNumberOfArrays())])).transpose()
    
    dataset.columns=[data.GetPointData().GetArrayName(i) for i in range(data.GetPointData().GetNumberOfArrays())]
    
    # vtk coord
    dimensions = data.GetDimensions()
    spacing=data.GetSpacing()
    origin=data.GetOrigin()
    
    coordinates=[]
    
    for k in range(dimensions[2]):
        for j in range(dimensions[1]):
            for i in range(dimensions[0]):
                x = origin[0] + i * spacing[0]
                y = origin[1] + j * spacing[1]
                z = origin[2] + k * spacing[2]
                coordinates.append((x,y,z))
    dt_coordinates = pd.DataFrame(coordinates, columns=['x','y','z'])
    
    # result coord merge
    return pd.merge(dt_coordinates, dataset, left_index=True, right_index=True)

In [3]:
file_path = './outputs/twophase_coat_v5_19/window_0000/inferencers/time_slice_000t.vti'

In [4]:
vti_data = vti_reader(file_path)

In [5]:
vti_data.head()

,x,y,z,u,v,p,a,alpha,mu
0,-25.000000,0.0,0.0,0.062075,0.009651,-0.001931,1.011247,1.0,-0.056816
1,-24.389764,0.0,0.0,0.061572,0.008842,-0.001132,1.011040,1.0,-0.055269
2,-23.779528,0.0,0.0,0.061073,0.008088,-0.000022,1.010967,1.0,-0.054440
3,-23.169291,0.0,0.0,0.060366,0.007212,0.001040,1.010779,1.0,-0.053083
4,-22.559055,0.0,0.0,0.059611,0.006587,0.001857,1.010449,1.0,-0.051032

In [6]:
vti_slurry = vti_data[vti_data['alpha']==0.0]
pnt1 = vti_slurry['x'].min()

In [7]:
pnt2 = vti_slurry[vti_slurry['y']==0.0]['x'].min()

In [12]:
pnt3 = vti_slurry[vti_slurry['y'] == vti_slurry['y'].max()]['x'].iloc[0]

In [14]:
aa = pd.read_csv('HC_sheet.csv')

In [15]:
aa

,DOE0,Unnamed: 1,DOE1,Unnamed: 3,DOE2,Unnamed: 5,DOE3,Unnamed: 7,DOE4,Unnamed: 9
0,X,Y,X,Y,X,Y,X,Y,X,Y
1,-0.000326,195,-0.000295,195,NaN,NaN,NaN,NaN,NaN,NaN
2,-0.00032,187.18,-0.000287,186.57,NaN,NaN,NaN,NaN,NaN,NaN
3,-0.000314,182.18,-0.000281,181.57,NaN,NaN,NaN,NaN,NaN,NaN
4,-0.000309,175,-0.000276,175,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
196,0.010435,128.53,0.009915,127.62,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,NaN,0.010045,127.64,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,0.010175,127.64,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,NaN,0.10305,127.62,NaN,NaN,NaN,NaN,NaN,NaN
200,NaN,NaN,0.10435,127.58,NaN,NaN,NaN,NaN,NaN,NaN